/* ../../desktop.blocks/container/container.css begin */
.container {
    position: relative;
    width: 80%;
    margin: 50px auto;
    
    font-family: "PT Sans", "Helvetica", sans-serif;
    font-size: 15px; 
    }
/* ../../desktop.blocks/container/container.css end */

/* ../../desktop.blocks/menu/menu.css begin */
.menu {
    margin-bottom: 5px;
    }
/* ../../desktop.blocks/menu/menu.css end */

/* ../../desktop.blocks/map/map.css begin */
.map {
    position: absolute;
    left: 0;
    width: 70%;
    height: 450px;
    }
/* ../../desktop.blocks/map/map.css end */

/* ../../desktop.blocks/sidebar/sidebar.css begin */
.sidebar {
    position: absolute;
    padding-left: 20px;
    left: 70%;
    width: 30%;
    }
/* ../../desktop.blocks/sidebar/sidebar.css end */

/* ../../desktop.blocks/menu/__title/menu__title.css begin */
.menu__title {
    cursor: pointer;
    color: #4f7942;
    border-bottom: 1px dotted #aaa;
    }
/* ../../desktop.blocks/menu/__title/menu__title.css end */

/* ../../desktop.blocks/menu/__title/_state/menu__title_state_fold.css begin */
.menu__title_state_fold {
    font-weight: bold;
    }

    .menu__title_state_fold:before {
        content: "+";
        position: absolute;
        left: 8px;

        font-weight: normal;
        color: #aaa;
        }

/* ../../desktop.blocks/menu/__title/_state/menu__title_state_fold.css end */

/* ../../desktop.blocks/menu/__item/menu__item.css begin */
.menu__item {
    cursor: pointer;
    border-bottom: 1px dotted #eee;
    padding: 5px 0;
    }
/* ../../desktop.blocks/menu/__item/menu__item.css end */

/* ../../desktop.blocks/menu/__item/_state/menu__item_state_active.css begin */
.menu__item_state_active {
    color: red;
    font-weight: bold;
    }
/* ../../desktop.blocks/menu/__item/_state/menu__item_state_active.css end */

