.menu__title_state_fold {
    font-weight: bold;
    }

    .menu__title_state_fold:before {
        content: "+";
        position: absolute;
        left: 8px;

        font-weight: normal;
        color: #aaa;
        }
